<div class="grid">
    
    <div class="col-12">
        <div class="text-center p-3 border-round-sm bg-blue-500 font-bold">1</div>
    </div>

    
    <div class="col-12 lg:col-6 md:col-6 sm:col-12">
        <div class="text-center p-3 border-round-sm bg-red-500 font-bold">2</div>
    </div>
    <div class="col-12 lg:col-6 md:col-6 sm:col-12">
        <div class="text-center p-3 border-round-sm bg-green-500 font-bold">3</div>
    </div>

    
    <div class="col-12 lg:col-2 md:col-2 sm:col-4">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold">4</div>
    </div>
    <div class="col-12 lg:col-2 md:col-2 sm:col-4">
        <div class="text-center p-3 border-round-sm bg-purple-500 font-bold">5</div>
    </div>
    <div class="col-12 lg:col-2 md:col-2 sm:col-4">
        <div class="text-center p-3 border-round-sm bg-pink-500 font-bold">6</div>
    </div>
    <div class="col-12 lg:col-2 md:col-2 sm:col-4">
        <div class="text-center p-3 border-round-sm bg-indigo-500 font-bold">7</div>
    </div>
    <div class="col-12 lg:col-2 md:col-2 sm:col-4">
        <div class="text-center p-3 border-round-sm bg-teal-500 font-bold">8</div>
    </div>
    <div class="col-12 lg:col-2 md:col-2 sm:col-4">
        <div class="text-center p-3 border-round-sm bg-orange-500 font-bold">9</div>
    </div>

    <div class="col-12">
        <div class="text-center p-3 border-round-sm bg-gray-500 font-bold">10</div>
    </div>

    
    <div class="col-12 lg:col-6 md:col-6 sm:col-12">
        <div class="text-center p-3 border-round-sm bg-lime-500 font-bold">11</div>
    </div>
    <div class="col-12 lg:col-6 md:col-6 sm:col-12">
        <div class="text-center p-3 border-round-sm bg-cyan-500 font-bold">12</div>
    </div>
</div>  
